<form (ngSubmit)="review()">
  <div class="mb-3">
    <label for="name" class="form-label">Name:</label>
    <input type="email" class="form-control" id="name"
    [(ngModel)]="reviewForm.name"
    name="name"
    #name="ngModel"required>
    <div class="alert alert-danger" role="alert" *ngIf="name.dirty && name.invalid">
      name is required
    </div>

  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email"
    [(ngModel)]="reviewForm.email">
    <div class="alert alert-danger" role="alert" *ngIf="name.dirty && name.invalid">
      email is required
    </div>
  </div>
  <div class="mb-3">
    <label for="rating" class="form-label">Rating</label>
    <select class="form-select" [(ngModel)]="reviewForm.rating">
      <option selected>rating</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>

    </select>

  </div>
  <div class="mb-3">
    <label for="review" class="form-label">Write your Review</label>
    <textarea class="form-control" id="review" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{reviewForm}}
