<div class="row">
<div class="col">
<button class="btn btn-primary" (click)="goBack">back</button>
</div>
<div class="col">
  <button class="btn btn-primary" (click)="nextItem()">Next</button>
  <button class="btn btn-primary" (click)="prevItem()">Previous</button>
</div>
</div>

 <div *ngIf="product$ | async as product">
  <h3>{{product.name}}</h3>
  <h3>{{product.price}}</h3>
  <button class="btn btn-primary" [routerLink]="['/products',product.id,'review']">review</button>
  <button class="btn btn-primary" [routerLink]="['/products',product.id,'specifications']">specifications</button>

</div>
<router-outlet></router-outlet>
